@import "../modules/all";

h1 {
  color: white;
}

#submitButton {
  margin-top: 28px;
}

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.sticky{
  position: fixed;
  top: 0px; left: 0px; z-index: 999;
  width:100%;
  background-color: rgba(#000000, .7 ) !important;
}

.searchbox {

  label {
    color: white;
  }

  padding-top: 30px;
  background-color: rgba(#000000, .5 );

  &.dark {
   
  }
}